*.h5
*.log
*.png
*.pyc
*.pt
*.swp
.DS_Store
.idea/
.vscode/
.venv/
.dvc/
Juneberry.egg-info
.coverage
htmlcov/

# Ignore models except the config files
models/*/*
!models/**/config.json
!models/**/**/config.json
!models/**/**/**/config.json
!models/**/**/**/**/config.json
!models/**/**/**/**/**/config.json

# For experiments we want json files except rules
experiments/*/*
!experiments/**/*.json
!experiments/**/**/*.json
!experiments/**/**/**/*.json
experiments/**/rules.json
experiments/**/**/rules.json
experiments/**/**/**/rules.json

# The checkpoints directory will contain checkpoints from the container
checkpoints/

# Ignore some tool support directories
scripts/resnet-summaries/latest

# A place to hide things
nothingtoseehere

# We don't want doit stuff
**/.doit.db*
